
.a-sidebar{
   position: sticky;
    top: 23%;
    padding: 20px;
}
.accord{
  border: none;
  border-bottom: 0.5px solid #fff;
}
.priceFlex{
  display: flex;
  justify-content: space-between;
  font-size: small;
}