.hr {
    border-top: 2px solid black;
}

.sizeBtn {
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: none;
}

.scroolDiv {
    height: 820px;
    overflow-y: scroll;
}

.scroolDiv::-webkit-scrollbar {
    display: none;
}


.scroolDiv {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.img__width {
    transition: 0.7s all;
    cursor: pointer;
    width: 100%;
}

.img__btn {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    background: #fff;
    padding: 0.3rem;
    font-weight: 500;
}

.grid__box {
    overflow: hidden;
    position: relative;
    transition: 0.7s all;
}

.grid__box:hover .img__width {
    background-color: #111;
    width: 110%;
    transform: scale(1.04);
    filter: brightness(0.5);
}

@media (max-width:1000px) {
    .makeColumn {
        flex-direction: column;
    }

    .makeColumn>.innerBox {
        width: 100%;
        margin-top: 20px;
    }

    .css-egoftb {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

    }

}

@media (max-width:500px) {
    .css-egoftb a {
        flex: 50%;
    }

    .revflex>.chakra-stack {
        flex-direction: row !important;
          width: 440px;

    }

    .makeColumn>.innerBox {
        margin-top: 20px;
        overflow-x: scroll;
    }
    .makeColumn>.innerBox::-webkit-scrollbar{
        background: #008000;
        border-radius: 27px;
        line-height: 5px;
        scrollbar-width: 2px;
    }
    /* .makeColumn>.innerBox::-webkit-scrollbar-track{
        box-shadow: none;
        background-color: #fff;
    } */
  
}